.PanelOpenButton {    
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    border: 0px;
}
.PanelOpenButton:hover {
    background-color: #666;
}
