.Panel {
    width: 0;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    border-radius: 8px;
}

.Panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Panel p {
    padding-left: 10px;
    padding-right: 10px;    
    font-weight: bold;
    text-align: center;
    color: #999999;
    background-color: #333333;
}

.Panel label:hover {
    background-color: #222;
}

.Panel input:checked + label {
    background-color: SteelBlue;
}

.Panel input {
    visibility: hidden;
    display: none;
}

.Panel label {
    font-size: 15px;
    color: lightgrey;
    padding-left: 20px;
    padding-right: 20px;    
    float: left;
    width: 100%;
    background-color: #111;
    background-color: black;
    text-align: left;
}
