body {
    font-family: Roboto;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}

main-header {
    line-height: 10px;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    position: relative;
	margin: auto;
	max-width: 500px;
}
